
*{
    margin: 0px;
    padding: 0px;
}
body{
background-image: linear-gradient(to top, black, rgb(50, 50, 50));

}
#left-section{
    display: inline-block;
    background-color: black;
    width: 240px;
    height: 20in;

    
}
#logo {
    background-color: black;
    width: 140px;
    padding-left: 15px;
    padding-top: 20px;
}


button{
    font-size: medium;
    background-color: black;
    color: white;
    width: 230px;
    align-self: flex-start;
    border-radius: 5px;
    border: none;
    padding-bottom: 10px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}
.icon{
    padding-bottom: none;
    margin-bottom: none;
}
button:hover{
    background-color: gray;
}
nav{
    margin-top: 10px;
}
.One{
    padding-right: 50px;
    margin-left: 10px;
    
    
    
}
.two{
    padding-right: 50px;
    margin-left: 10px;
}
.neew-nav{
    margin-top: 40px;
    margin-left: 10px;
    
}
.install{
    margin-top: 10px;
}
#middle{
    color: white;
    display:inline-block;
    position:absolute;
    margin-left: 25px;

    
}
.nav_button{
    margin-top: 10px;

}
h6{
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;

}
#songs{
    position:fixed;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: rgb(24, 24, 24);

}
.songname{
    position:absolute;
    margin-top: 40px;
    
}
.artist{
    font-size: small;
}
#player{

   margin-top: auto;
   margin-left: 250px;
}
#left{
    position:absolute;
    margin-right: 20px;
    right:0;
    margin-top: 20px;
}